* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: black;
  }
  body h1{
    text-align: center;
    color: yellow;
  }
  html {
    font-size: 16px;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #ffffff;
    height: 20%;
    width: 20%;
    border: none;
    cursor: pointer;
    margin-left: 35px;
    border-radius: 18px;
    font-size: 10vmin;
    color: red;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  #restart {
    font-size: 1em;
    padding: 1em;
    border-radius: 8px;
    background-color: antiquewhite;
    color: black;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    cursor: pointer;
  }
  .popup {
    background: linear-gradient(135deg, antiquewhite, #b563d6);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.4em;
    padding: 0.5em 1em;
    background-color: wheat;
    color: brown;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
  }
  #message {
    color: #ffffff;
    text-align: center;
    font-size: 5rem;
  }
  .popup.hide {
    display: none;
  }